<!DOCTYPE html>
<html>
  <head>
    <title>ScoutOps.ai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">ScoutOps.ai</a>
        <% if broker_signed_in? %>
          <span class="navbar-text">Welcome, <%= current_broker.email %></span>
        <% end %>
      </div>
    </nav>
    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
